@model BountyHunterLib.Model.HunterListModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Need a Bounty Hunter?</h1>
    <p class="lead">
        Bounty hunters primarily work to capture or kill fugitives and others with a bounty on their head. As mercenaries, they are also known to do other jobs for the right price, including the protection of clients. The most infamous bounty hunters are clever, resourceful, and relentless, making them very dangerous to those with wealthy enemies.
    </p>
    <p><a href="http://starwars.wikia.com/wiki/Bounty_hunter/Legends" class="btn btn-primary btn-lg">About Bounty Hunters &raquo;</a></p>
</div>